.container {
  display: grid;
  grid-template-columns: clamp(140px, 12vw, 207px) 1fr clamp(140px, 12vw, 207px);
  grid-template-rows: 65px 1fr 200px;
  gap: 3px;
  padding: 0 3px 3px 3px;
  background-color: #adb9ad;
}

.topLeft {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.topRight {
  background-color: #adb9ad;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.left {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.events {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.right {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.lowerLeft {
  background-color: #edba88;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.mobileBottomRight {
  display: none;
}

/* NOT GRID  */
.header {
  font-family: TypeWriterBold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/texture.png);
  background-size: cover;
}
.events ul {
  display: flex;
  padding: 1rem 0 1rem 0;
  justify-content: space-between;
}

.events li {
  /* width: 270px; */
  list-style: none;
}

.upcomingEvents {
  border: 3px solid #adb9ad;
  width: 30%;
}
.upcomingEventsImg {
  width: 100%;
  position: relative;
}
.upcomingEventsImg:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.upcomingEvents img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  filter: grayscale(100%);
}

.upcomingEventsText {
  text-align: center;
  font-size: 18px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(../../../assets/texture.png);
  background-size: cover;
}

.upcomingEventsText li:first-child {
  font-family: TypeWriterBold;
  font-size: 20px;
}

.upcomingEventsText li:last-child {
  font-family: SourceSerif;
  font-style: italic;
}

.upcomingEventsText li {
  font-family: SourceSerif;
}

.upcomingEvents {
  border: 3px solid #adb9ad;
  width: 30%;
}

.upcomingEvents:first-child {
  border-left: none;
}

.upcomingEvents:last-child {
  border-right: none;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 97px 1fr 97px;
    grid-template-rows: 38px 1fr 100px;
    gap: 2px;
    padding: 0 2px 2px 2px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 39px 1fr 24px;
    gap: 1px;
    padding: 0 1px 1px 1px;
  }

  .topLeft {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .topRight {
    background-color: #adb9ad;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .left {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .events {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .right {
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }

  .lowerLeft {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .mobileBottomRight {
    display: block;
    background-color: #adb9ad;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  /* NOT GRID */
  .events ul {
    flex-direction: column;
    padding: 2rem;
  }

  .upcomingEvents {
    width: unset;
    margin-bottom: 2rem;
  }

  .upcomingEventsText {
    font-size: 14px;
    height: 100px;
  }
  .upcomingEvents li:first-child {
    font-size: 14px;
  }
  .upcomingEvents:first-child {
    border: 3px solid #adb9ad;
  }

  .upcomingEvents:last-child {
    border: 3px solid #adb9ad;
  }
}
