.container {
  display: grid;
  grid-template-columns: clamp(140px, 12vw, 207px) 1fr 24px 1fr clamp(
      140px,
      12vw,
      207px
    );
  grid-template-rows: 65px 48px 438px 48px;
  gap: 3px;
  padding: 0 3px 3px 3px;
  background-color: #adb9ad;
}

.topLeft {
  background-color: #eecd45;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header {
  background-color: white;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.topRight {
  background-color: #adb9ad;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.left {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.topDivider {
  background-color: white;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.right {
  background-color: white;
  grid-column: 5 / 6;
  grid-row: 2 / 5;
}

.image {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.middleDivider {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.imageTwo {
  background-color: white;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.bottomLeft {
  background-color: white;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.bottomRight {
  background-color: #3f3f3f;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

/* NOT GRID */
.header {
  background: url(../../../assets/texture.png);
  background-size: cover;
}
.header h3 {
  font-size: 30px;
  line-height: 10px;
}
.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
}
.infoBox {
  width: 305px;
  font-family: TypewriterRegular;
}
.adress h3 {
  font-size: 30px;
  margin-top: 24px;
}
.adress p {
  font-size: 24x;
  line-height: 6px;
  font-family: TypewriterRegular;
  font-weight: 600;
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 97px 1fr 22px 1fr 97px;
    grid-template-rows: 39px 22px 269px 22px;
    gap: 2px;
    padding: 0 2px 2px 2px;
  }
  /*NOT GRID*/
  .infoBox {
    width: 169px;
  }
  .header h3 {
    font-size: 18px;
    line-height: 10px;
  }
  .adress h3 {
    font-size: 18px;
    margin-top: 15px;
  }
  .infoBox p {
    font-size: 14px;
    line-height: 4px;
    font-family: TypewriterRegular;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 48px 231px 237px;
    gap: 1px;
    padding: 0 1px 1px 1px;
  }

  .topLeft {
    background-color: #eecd45;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .topRight {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .left {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .topDivider {
    display: none;
  }

  .right {
    background-color: #adb9ad;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .adress {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .middleDivider {
    display: none;
  }

  .map {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .bottomLeft {
    display: none;
  }

  .bottomRight {
    display: none;
  }

  /*NOT GRID*/
  .infoBox {
    width: 169px;
  }
  .adress h3 {
    margin-top: 14px;
    line-height: 12px;
  }
  .infoBox p {
    font-size: 12px;
    font-family: TypewriterRegular;
    font-weight: 600;
  }
}
