.container {
  display: grid;
  grid-template-columns: 207px 1fr 207px;
  grid-template-rows: 251px 367px 353px;
  gap: 3px;
  padding: 0 3px 3px 3px;
  background-color: #adb9ad;
}

.marginTopLeft {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.marginMiddleLeft {
  background-color: #eecd45;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.marginBottomLeft {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.headerContainer {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.heroImgContainer {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.infoTextContainer {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.marginTopRight {
  background-color: #3f3f3f;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.marginMiddleRight {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.marginBottomRight {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 97px 1fr 97px;
    grid-template-rows: 142px 228px 151px;
  }

  .desktopLinksContainer {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 157px 134px 285px;
  }
}
