.menuContainer {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
  top: 0;
  left: 0;
  border: 2px solid #adb9ad;
}

.closeButtonContainer {
  display: flex;
  width: 100%;
  justify-content: right;
  padding: 12px 34px;
}

.closeButton {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
}

.closeButtonCrossLineOne {
  position: absolute;
  top: 11px;
  background-color: black;
  width: 24px;
  height: 2px;
  transform: rotate(45deg);
}

.closeButtonCrossLineTwo {
  position: absolute;
  top: 11px;
  background-color: black;
  width: 24px;
  height: 2px;
  transform: rotate(-45deg);
}

.menuContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 60px;
}

.pageLinkContainer {
  width: 238px;
}

.singleLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid black;
}

.singleLinkContainer a {
  font-size: 32px;
  font-family: TypewriterBold;
  transform: translateY(6px);
}

.socialMediaContainer {
  margin: 32px 0px;
  display: flex;
}

.socialMediaContainer span {
  width: 40px !important;
  height: 40px !important;
  margin: 0 12px !important;
}

.majornasLogoImg span {
  width: 187px !important;
  height: auto !important;
}

@media only screen and (max-width: 768px) {
  .menuContainer {
    border: 1px solid #adb9ad;
  }

  .closeButtonContainer {
    padding: 16px 25px;
  }
}
