.container {
  display: grid;
  grid-template-columns: clamp(140px, 12vw, 207px) 1fr clamp(140px, 12vw, 207px);
  grid-template-rows: 80px;
  gap: 3px;
  padding: 3px;
  background-color: #adb9ad;
}

.left {
  background-color: white;
  grid-column: 1 / 2;
}

.middle {
  background-color: white;
  grid-column-start: 2 / 3;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  grid-column-start: 3 /4;
}

/* Desktop-links */
.desktopLinksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  gap: 3px;
  background-color: #adb9ad;
}

.desktopLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 30px;
  font-family: TypewriterBold;
}

/* Social-Media Links*/

.socialMediaContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.socialMediaContainer span {
  width: 30px !important;
  height: 100px !important;
  margin: 12px !important;
}

.mobileSocialMediaContainer {
  display: none;
}

/* Hamburger */

.hamburgerButton {
  display: none;
}

.mobileHamburgerButton {
  display: none;
}

.hamburgerBar {
  background-color: black;
  width: 100%;
  height: 2px;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 97px 1fr 97px;
    grid-template-rows: 47px;
    gap: 2px;
    padding: 2px 2px 2px 2px;
  }

  .desktopLinksContainer {
    display: none;
  }

  .socialMediaContainer span {
    width: 22px !important;
    height: 100px !important;
    margin: 8px !important;
  }

  .hamburgerButton {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 57px;
    gap: 1px;
    padding: 1px 1px 1px 1px;
  }

  .socialMediaContainer {
    display: none;
  }

  .mobileSocialMediaContainer {
    display: flex;
    width: 80px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobileSocialMediaContainer span {
    width: 20px !important;
    height: 100px !important;
    margin: 6px !important;
  }

  .hamburgerButton {
    display: none;
  }
}
