.container {
  display: grid;
  grid-template-columns: clamp(140px, 12vw, 207px) 1fr 32px 1fr clamp(140px, 12vw, 207px);
  grid-template-rows: 65px 48px 1fr 165px 48px 1fr 48px;
  gap: 3px;
  padding: 0 3px 3px 3px;
  background-color: #adb9ad;
}

.heading {
  background-color: white;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.topRight {
  background-color: #adb9ad;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.leftTop {
  background-color: #adb9ad;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.top {
  background-color: white;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.right {
  background-color: white;
  grid-column: 5 / 6;
  grid-row: 2 / 8;
}

.leftLower {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 4 / 8;
}

.bookOneImg {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.middleDivTopVertical {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.bookTwoImg {
  background-color: white;
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.middleDivider {
  background-color: white;
  grid-column: 2 / 4;
  grid-row: 5 / 6;
}

.middleDividerRight {
  background-color: #edba88;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.bookOneInfo {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.middleDivLowerVertical {
  background-color: white;
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.bookTwoInfo {
  background-color: white;
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

.bottom {
  background-color: white;
  grid-column: 2 / 5;
  grid-row: 7 / 8;
}

.mobileTopLeft {
  display: none;
}

.mobileRightLower {
  display: none;
}

.mobileRightLowest {
  display: none;
}

.mobileBottomRight {
  display: none;
}

.mobileBottom {
  display: none;
}

.mobileBottomLeft {
  display: none;
}

/* NOT GRID  */
.heading {
  display: flex;

  align-items: center;
}
.heading h2 {
  margin-left: 50%;
  font-family: TypewriterBold;
}
.bookOneImg,
.bookTwoImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookOneImg img {
  padding: 2rem;
}
.bookTwoImg img {
  padding: 2rem;
}
.bookTwoInfo,
.bookOneInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bookTwoInfo p,
.bookOneInfo p {
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 97px 1fr 18px 1fr 97px;
    grid-template-rows: 38px 48px 1fr 160px 22px 1fr 22px;
    gap: 2px;
    padding: 0 2px 2px 2px;
  }
  .bookOneImg img,
  .bookTwoImg img {
    width: 70%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 16px 1fr 1fr 16px;
    grid-template-rows: 38px 24px 1fr 101px 24px 317px 1 24px;
    gap: 1px;
    padding: 0 1px 1px 1px;
  }

  .heading {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .topRight {
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .leftTop {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .top {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .right {
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }

  .leftLower {
    background-color: #adb9ad;
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }

  .bookOneImg {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .middleDivTopVertical {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .bookTwoImg {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
  }

  .middleDivider {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
  }

  .middleDividerRight {
    background-color: #edba88;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }

  .bookOneInfo {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .middleDivLowerVertical {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }

  .bookTwoInfo {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 7 / 8;
  }

  .bottom {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 8 / 9;
  }

  .mobileTopLeft {
    display: block;
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .mobileRightLower {
    display: block;
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 5 / 7;
  }

  .mobileRightLowest {
    display: block;
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 7 / 8;
  }

  .mobileBottomRight {
    display: block;
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 8 / 9;
  }

  .mobileBottom {
    display: block;
    background-color: #eecd45;
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }

  .mobileBottomLeft {
    display: block;
    display: block;
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
}
